################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuberBreakfast/obj/Debug/net7.0/project.razor.json
